@mixin block_display($block_display){
  display: $block_display;
}

#appTitle {
  background: white url("/assets/logo.svg") no-repeat center;
  // background-image: url("/assets/header_bg.svg");
  height: 40px;
}

.mainDiv {
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  padding-bottom: 1px;
  padding-top: 1px;

}

#menuDiv {
  background-color: #3A3A3C;
  text-align: center;
  height: 50px;
}

#randomButton {
  background-color: #3A3A3C;
  border: none;
  color: #818285;
  font-size: 20px;
}

#randomButton:hover {
    color: #F1592A;
}

#boardsButton {
  background-color: #3A3A3C;
  border: none;
  color: #818285;
  font-size: 20px;
}

#boardsButton:hover {
  color: #F1592A;
}

#getAppButton {
  background-color: #3A3A3C;
  border: none;
  color: #818285;
  font-size: 20px;
}

#getAppButton:hover {
  color: #F1592A;
}

.postDiv {
  background-color: white;
  margin: 30px;
  // margin: auto;
  padding: 20px;
  max-width: 400px;
  max-height: 500px;
  display: inline-block;
  border: 10px solid transparent;
}

.postDiv:hover {
  border: 10px solid #F1592A;

}

.pictureElem {
  height: 300px;
  width: 400px;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.titleDiv {
  width: 400px;
  margin: auto;
}

.submitterDiv {
  width: 400px;
  margin: auto;
  color: #8F9194;
}

.scoreDiv {
  width: 400px;
  margin: auto;
  color: #8F9194;
}

.commentDiv {
  width: 400px;
  margin: auto;
  color: #8F9194;
}

@media screen and (min-width: 0px){
  @include block_display(block);
}

@media screen and (min-width: 400px){
  @include block_display(inline-block);
}

@media screen and (min-width: 800px){
  @include block_display(inline-block);
}